<footer class="footer">
    <div class="container">

        <p class="text-center">
            
<form action="https://www.paypal.com/donate" method="post" target="_top" class="center" align="center">
<label for="image">  {{ site.title }} {{ site.time | date: '%Y' }} |
            Developed by ITC, Faculty of Geo-Information Science and Earth Observation, Twente University &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
</label>
<input type="hidden" name="hosted_button_id" value="J4JR9NY9JZZ2G" />
<input type="image" src="https://raw.githubusercontent.com/bastianvandenbout/LISEM/main/assets/img/support.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" class="center" />
<img alt="" border="0" src="https://www.paypal.com/en_NL/i/scr/pixel.gif" width="1" height="1" />
</form>
</p>
		
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
