<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }} "></script>
<script src="{{ "/assets/js/typeahead.bundle.min.js" | relative_url }} "></script>

<script src="{{ "/assets/js/main.js" | relative_url }} "></script>
