---
layout: default
---

<div class="container">
    <div class="row">
	<p class="text-center">
                &nbsp;
				&nbsp;
				&nbsp;
              </p>
			  
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <div style="clear:both;">
              <p class="text-center">
                <br />
                <a target="_blank" href="https://github.com/bastianvandenbout/LISEM/discussions" class="btn btn-default" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Ask a question
                </a>
              </p>
            </div>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
